

.nav-ul {
    right: 0;
    position: absolute;
    background-color: rgb(33, 37, 41) !important;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: sticky !important;
    top: 0 !important;
}

.custom-bg {
    background-color: rgb(33, 37, 41, 0.4) !important;
}

.hamburger {
    border: none;
    font-family: 'Roboto';
}

.collapse {
    width: 100%;
}

#kauai, #mexico, #italy {
    scroll-margin-top: 4em;
}

i {
    margin: 0px 20px;
}

.hamburger:hover, .hamburger:active, .hamburger:focus, .hamburger:visited {
    border: none;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

h1 {
    font-family: 'Playfair Display';
}

p {
    font-family: 'Playfair Display';
}

.travel {
<<<<<<< HEAD
    background: url("travel.jpg")
=======
    background: url("TRAVEL.JPG")
>>>>>>> 700bd58705c9b9ad2e6eee76aff1c439cbce57e1
      center no-repeat fixed;
    background-size: cover;
}

.jumbotron1 {
<<<<<<< HEAD
    background: url("Kauai.jpg")
=======
    background: url("KAUAI.JPG")
>>>>>>> 700bd58705c9b9ad2e6eee76aff1c439cbce57e1
      center no-repeat fixed;
    background-size: cover;
}

.jumbotron2 {
<<<<<<< HEAD
    background: url("Mexico.jpg")
=======
    background: url("MEXICO.JPG")
>>>>>>> 700bd58705c9b9ad2e6eee76aff1c439cbce57e1
      center no-repeat fixed;
    background-size: cover;
}

.jumbotron3 {
<<<<<<< HEAD
    background: url("Venice.jpg")
=======
    background: url("VENICE.JPG")
>>>>>>> 700bd58705c9b9ad2e6eee76aff1c439cbce57e1
      center no-repeat fixed;
    background-size: cover;
}
/* 
@media screen and (min-width: 992px) {
    .nav-ul {
        background-color: transparent;
        right: 0;

    }
} */
